html {
	height: 100vh;
	width: 100vw;
	/* overflow-x: hidden; */
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
}

main,
div {
	box-sizing: border-box;
}

@font-face {
	font-family: "Roboto";
	font-weight: 100;
	src: local("Roboto"), url(./fonts/Roboto-Thin.ttf) format("opentype");
}
@font-face {
	font-family: "Roboto";
	font-weight: 300;
	src: local("Roboto"), url(./fonts/Roboto-Light.ttf) format("opentype");
}
@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("opentype");
}
@font-face {
	font-family: "Roboto";
	font-weight: 500;
	src: local("Roboto"), url(./fonts/Roboto-Medium.ttf) format("opentype");
}
@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: local("Roboto"), url(./fonts/Roboto-Bold.ttf) format("opentype");
}
@font-face {
	font-family: "Roboto";
	font-weight: 900;
	src: local("Roboto"), url(./fonts/Roboto-Black.ttf) format("opentype");
}
